/* colors used
#FFB100 Bright Yellow 2
#FBC252 Plae Yellow2
#F0ECCF Pale Begie
#A3BB98 Ash Green
#395144 Dark Green 2
#4E6C50 Green 2
#AA8B56 Brown
#F0EBCE Plae Tan 2  */
body {
    background-color: var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    color: var(--pale);
}

:root {
    --paleT: #F0EBCE;
    --darkG: #395144;
    --brightY: #FFB100; 
    --paleY: #FBC252;
    --green: #4E6C50;
    --brown: #AA8B56;
    --ashG: #A3BB98;
    --paleB: #F0ECCF;
    
}

.page-title {
    font-size: 30px;
    background-color: var(--ashG);
    color: var(--darkG);
    padding: 15px;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 396px;
   
    
}

.page-title nav{
    font-size: 30px;
    float: right;
    padding-top: 10px;
    color: #6a583a;
}

.page-title nav ul{
    list-style-type: none;
}

.page-title nav ul li{
    display:inline;
    margin-left: 10px;
}

a{
    font-size: 20px;
    color:#433825;
    padding: 10px;
}

aside {
        border-color: var (--brightY);
        border-right:dashed;
        border-width: 2px;
        float: left;
        margin-right: 20px;
        width: 30%;
        font-size: 30px;
  }

  #me-face {
    max-height: 350px;
    padding-left: 340px;
    display:inline-block;
  }

.banner{
    height: 10px;
    width: 100%;
}

    .about-me {
        font-size: 20px;
        padding: 10px;
        justify-content: space-between;
        display: flex;
    }

    .about-me p{
        display:inline-flexbox;
        padding-left: 90px;
        
    }
#about-me {
    text-align: right;
}

#previous-work {
    padding-top: 240px;
    padding-bottom: 500px;
    text-align: center;
    padding-left: 100px;
}

.previous-work {
    padding: 350px;
    padding-top: 60px;
}

#hcf {
    max-height: 300px;
    display: inline;
}

.hcf {
    height: 400px;
    width: 600px;
    position: relative;
    display: inline;
}

.hcf::after {
    content: "Code Refactor";
    position: absolute;
    color: var(--pale);
    font-size: 20px;
    left: 20px;
    background-color: var(--navy);
    padding: 4px;
    width: 25%;
}


#project-1 {
    max-height: 200px;
    display: inline
}

.project-1 {
    height: 200px;
    width: 300px;
    position: relative;
    display: inline
}

#contact-me {
    text-align: center;
    margin-bottom: 40px;
}

.contact-me {
    width: 100%;
    height: 60px;
    padding: 60px;
    font-size: 20px;
}

#resume {
    text-align: center;
    padding: 50;
}

    footer {
    text-align: center;
    clear:both;
}

@media screen and (max-width: 822px) {
    #hcf{
        width: 50%;
    }
    .hct::after {
        font-size: 10px;
    }
}